*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #141414;
}
nav{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.bg{
  width: 100%;
  height: 50vh;
  position: relative;
  z-index: -1;
}
.brand{
  width: 100%;
  position: absolute;
  bottom: 65%;
  z-index: 2;
}
button{
  cursor: pointer;
}
/* CREATE MOVIE */
.create-movie-container{
  position: relative;
  height: 20vh;
}
.create-movie-absolute{
  position: absolute;
  top:-98%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.create-movie-absolute h1{
  font-size: 2.5rem;
  color:#141414;
}
.create-movie-inputs{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.create-movie-inputs input{
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #141414;
  outline: none;
  font-size: 1.2rem;
}
.create-movie-inputs button{
  background: linear-gradient(90deg,#b81d24, #1f1f1f);
  color: antiquewhite;
  padding: 9px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  z-index: 2;
}
.error-message-input{
  color: whitesmoke;
  font-size: 1.1rem;
  font-weight: 600;
}
/* MOVIE LIST */
.movies-container{
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 20px;
    margin-top: -10%;
    margin-bottom: 50px;
}
.movie-list-container {
    display: flex;
    padding: 15px;
    height: auto;
    margin: 10px 0;
    background-color: #565656;
    border-radius: 10px;
}
.movie-list{
  display: flex;
  margin: 0 10px;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  align-content: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}
.list-info{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
.list-info h2{
  font-size: 1.5rem;
}
.list-info p{
  font-size: 1.2rem;
}
.list-btn{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.list-btn button{
    background: linear-gradient(90deg, #b81d24, #1f1f1f);
    color: antiquewhite;
    padding: 9px;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
}
/* MODAL */
.modal {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 10;
    margin: 10px 50px;
}
.modal-container{
  /* position: absolute; */
  height: 0vh;
}
.modal-content{
  padding: 20px 50px;
  width: 100%;
  background-color: #000000e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  text-align: center;
}
.modal-content h2{
  font-size: 2.4rem;
  color: whitesmoke;
}
.modal-input{
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid whitesmoke;
  outline: none;
  background-color: transparent;
  color: whitesmoke;
  font-size: 1.2rem;
}
.modal-input::placeholder{
  color: rgba(245, 245, 245, 0.745);
}
.modal-btns{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 10px;
}
.btn-cancel{
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
}
.btn-accept{
  padding: 10px 20px;
  border-radius: 12px;
  border: 2px solid whitesmoke;
  background-color:#141414;
  color: whitesmoke;
}
button:hover{
  scale: 1.05;
}
@media (min-width: 640px) {
.brand {
    bottom: 0%;
    z-index: -1;
}
.create-movie-container {
    height: 20vh;
}
.movies-container {
    margin-top: 25%;
}
.modal {
    margin: 10px 150px;
}
}
@media (min-width: 768px) {
.brand {
    bottom: 30%;
    z-index: -1;
}
.create-movie-container {
    height: 10vh;
}
.movies-container {
    margin-top: 20%;
}
}
@media (min-width: 1024px) {
  body{
    margin: 0 10%;
  }
.brand {
    bottom: 50%;
    right: 28%;
    z-index: -1;
    height: 600px;
    width: 600px;
    object-fit: cover;
}
.create-movie-container {
    height: 10vh;
}
.movies-container {
    margin-top: 15%;
}
.modal{
  margin: 0 400px;
}
}